.App {
  background-color: rgb(71, 69, 69);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header {
  margin: 20px auto 0;
  max-width: 60%;
}

.search {
  margin: 15% auto;
  padding: 0;
  width: 70px;
  height: 40px;
  cursor: pointer;
}

.search:hover {
  opacity: 0.6;
  transition: 2s;
}

